.main {
  position: fixed;
  margin-left: 70%;
}
.input {
  width: 100%;
  margin-left: 24%;
  margin-top: 10%;
  height: 1rem;
}
.ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  position: relative;
  margin-top: 3rem;
}
.avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}
.username {
  position: absolute;
  top: 15%;
  left: 18%;
}
.navlink {
  text-decoration: none;
  color: black;
}
