.main {
  width: 20%;
  height: 42rem;
}

.logo {
  width: 50%;
  margin-top: 2%;
  margin-left: 10%;
}

.ul {
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 4rem;
  margin-left: -5%;
}

.li {
  list-style: none;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 1rem;
  border-radius: 5%;
  height: 2rem;
  position: relative;
  transition: 0.5s ease;
}
.li_threades{
  list-style: none;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 1rem;
    border-radius: 5%;
    height: 2rem;
    position: relative;
    transition: 0.5s ease;
    padding-top: 20px;
   
  
}
.li_threades span{
  margin-left: 17%;
    font-size: 17px;
}
.li_threades img{
  width: 17%;
    position: absolute;
}
.li_threades:hover{
  background-color: #a9a9a9;
    opacity: 0.6;
}
.li span {
  margin-left: 17%;
  font-size:17px;
}

.li img {
  width: 17%;
  position: absolute;
}

.li:hover {
  background-color: #a9a9a9;
  opacity: 0.6;
}

