.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 5px;
  height: 18rem;
  position: absolute;
  width: 100%;
  top: 105%;
  border-radius: 5%;
  box-shadow: 2px 2px rgb(228, 228, 228);
}

.settings {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  position: relative;
}
.icons {
  position: absolute;
  left: 20%;
}
.main button {
  background-color: white;
  font-family: sans-serif;
  font-size: 1rem;
  border: none;
  transition: 0.5s ease;
  height: 3rem;
  cursor: pointer;
}
.main button:hover {
  background-color: rgb(207, 207, 207);
}
.accounts {
  display: flex;
  flex-direction: column;
  border-top: 1px solid gray;
}
