.main {
  width: 80%;
  height: 35rem;
  display: flex;
  margin-left: 1.5%;
  border: 1px solid black;
}
.card {
  width: 100%;
  border: 1px solid #dbdbdbdb;
}

.header {
  width: 100%;
  height: 4rem;
  display: flex;
  border-bottom: 2px solid #dbdbdbdb;
  padding: 15px 20px;
  box-sizing: border-box;
}
.userName {
  font-weight: 700;
}
.burger {
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  opacity: 0.7;
}
.userDate {
  margin-right: auto;
}
.content {
  width: 100%;
  height: 27rem;
  background-color: antiquewhite;
}
.content img {
  width: 100%;
  height: 27rem;
}
.communication {
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
}
.like {
  font-size: 35px;
  font-weight: 900;
  color: #dbdbdb;
  cursor: pointer;
  padding: 5px;
}
.numOfLikes {
  position: absolute;
  top: 95%;
  left: 3%;
  font-size: 1rem;
  color: black;
}
.like:hover {
  opacity: 0.9;
}
.coment {
  font-size: 30px;
  font-weight: 700;
  color: black;
  cursor: pointer;
  padding: 5px;
}
.numOfComments {
  position: absolute;
  top: 95%;
  left: 12%;
  font-size: 1rem;
}
.coment:hover {
  opacity: 0.6;
  color: gray;
}
.sending {
  font-size: 35px;
  font-weight: 900;
  cursor: pointer;
  padding: 5px;
}
.sending:hover {
  opacity: 0.6;
}
.save {
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  padding: 5px;
  margin-left: 62%;
}
.save:hover {
  opacity: 0.4;
  color: grey;
}
.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
